<!-- Facebook, Linkedin, Reddit and many others Open Graph -->
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:image:type" content="image/png" /> <!-- less than 5mB -->
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="315" />
<meta property="og:image" content="{{ site.cover }}" />
<meta property="og:locale" content="{{ site.lang }}" />
<meta property="og:locale:alternate" content="{{ site.lang_alternate }}" />
<meta property="fb:page_id" content="{{ site.fanpage_id }}" />
